/target
/.settings
/.classpath
/.project
/.idea
*.iml
/build
.mvn/wrapper/maven-wrapper.jar
*.releaseBackup
# Bloquear properties exceto maven-wrapper
*.properties
!.mvn/wrapper/maven-wrapper.properties
.env
